{% extends 'base.html' %}

{% block content %}

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message | safe }}
    </div>
    {% endfor %}

    <title>Add Attdedance Record</title>
    <h1 class="text-center">Add Attdedance Record</h1>
    <form action="{% url 'add-attendance' add_type attendance.pk %}" method="post" class="text-center">
        {% csrf_token %}
        <div class="mb-3">
            <table class="table table-striped">
                {{ form.as_table }}
            </table>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto" id="id_button-container">
            <input type="submit" value="Submit"class="btn btn-success">
        </div>
    </form>

    </br>

    <form action="javascript:history.back()">
        <div class="d-grid gap-2 col-6 mx-auto" id="id_button-container">
            <input type="submit" value="Cancel" class="btn btn-danger" />
        </div>
    </form>

{% endblock %}