{% extends 'base.html' %}

{% block content %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message | safe }}
        </div>
    {% endfor %}

    <title>New Case Adding Page</title>
    <h1 class="text-center">Add New Case</h1>
    <form class="text-center" action="{% url 'case-form' %}" id='all-forms' method="post">
        {% csrf_token %}
        <div class="mb-3">
            <table class="table table-striped">
                {{ form.as_table }}
            </table>
        </div>
    
        <h2 class="text-center">Add New Events</h2>
        {{ formset.management_form }}
        {% for iform in formset %}
            <div class="event-form">
                <table class="table table-striped">
                    {{ iform.as_table }}
                </table>
                <br>
            </div>
        {% endfor %}

        <div class="d-grid gap-2 col-6 mx-auto" id="id_button-container">
            <button id="add-form" type="button" class="btn btn-primary">Add One More Event</button>
            <input type="submit" value="Submit" class="btn btn-success">
        </div>
    </form>

</br>
    <form action="javascript:history.back()">
        <div class="d-grid gap-2 col-6 mx-auto" id="id_button-container">
            <input type="submit" value="Cancel" class="btn btn-danger" />
        </div>
    </form>

{% endblock %}

{% block javascript %}
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        let eventForm = document.querySelectorAll(".event-form")
        let container = document.querySelector("#all-forms")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let buttonContain = document.querySelector("#id_button-container")
        
        let formNum = eventForm.length-1
        addButton.addEventListener('click', addForm)


        function addForm(e){
            e.preventDefault()
            let newForm = eventForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, buttonContain)

            totalForms.setAttribute('value', `${formNum+1}`)

            var formIndex = $("div.event-form:eq("+formNum+")")
            formIndex.find($("input[name$=venue_location]")).on('change', function() {
                console.log('Changed');
                var value =  formIndex.find($("input[name$=venue_location]")).val()
                console.log(value)
                $.ajax({
                    url: "https://geodata.gov.hk/gs/api/v1.0.0/locationSearch",
                    type: "get", //send it through get method
                    data: { 
                        "q": value
                    },
                    dataType: 'json',
                    success: function(response) {
                        //Do Something
                        console.log(response)
                        $.each(response, function(index, element) {
                            formIndex.find($("input[name$=address]")).val(element.addressEN)
                            formIndex.find($("input[name$=x_coordinate]")).val(element.x)
                            formIndex.find($("input[name$=y_coordinate]")).val(element.y)
                        });
                    },
                    error: function(xhr) {
                        //Do Something to handle error
                        console.log("Error")
                    }
                });
            });
        }
    </script>

    <script>
        $(function() {
            var formIndex = $("div.event-form:eq(0)")
            formIndex.find($("input[name$=venue_location]")).on('change', function() {
                console.log('Changed');
                var value =  formIndex.find($("input[name$=venue_location]")).val()
                console.log(value)
                $.ajax({
                    url: "https://geodata.gov.hk/gs/api/v1.0.0/locationSearch",
                    type: "get", //send it through get method
                    data: { 
                        "q": value
                    },
                    dataType: 'json',
                    success: function(response) {
                        //Do Something
                        console.log(response)
                        $.each(response, function(index, element) {
                            formIndex.find($("input[name$=address]")).val(element.addressEN)
                            formIndex.find($("input[name$=x_coordinate]")).val(element.x)
                            formIndex.find($("input[name$=y_coordinate]")).val(element.y)
                        });
                    },
                    error: function(xhr) {
                        //Do Something to handle error
                        console.log("Error")
                    }
                });
            });
        
        })
    </script>
{% endblock %}
