{% extends 'base.html' %}

{% block content %}

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message | safe }}
        </div>
    {% endfor %}

    <title>New Event Adding Page</title>
    <h1 class="text-center">Add New Event</h1>
    <form action="{% url 'event-form' %}" id='all-forms' method="post" class="text-center">
        {% csrf_token %}
        <div class="mb-3">
            <table class="table table-striped">
                {{ form.as_table }}
            </table>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto" id="id_button-container">
            <input type="submit" value="Submit"class="btn btn-success">
        </div>
    </form>
    </br>

    <form action="javascript:history.back()">
        <div class="d-grid gap-2 col-6 mx-auto" id="id_button-container">
            <input type="submit" value="Cancel" class="btn btn-danger" />
        </div>
    </form>
{% endblock %}


{% block javascript %}
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script>
        $(function() {
            $('body').on('change', "input[name=venue_location]", function() {
                console.log('Changed');
                var value = $("input[name=venue_location]").val()
                $.ajax({
                    url: "https://geodata.gov.hk/gs/api/v1.0.0/locationSearch",
                    type: "get", //send it through get method
                    data: { 
                        "q": value
                    },
                    dataType: 'json',
                    success: function(response) {
                        //Do Something
                        console.log(response)
                        $.each(response, function(index, element) {
                                $("input[name=address]").val(element.addressEN)
                                $("input[name=x_coordinate]").val(element.x)
                                $("input[name=y_coordinate]").val(element.y)
                        });
                    },
                    error: function(xhr) {
                        //Do Something to handle error
                        console.log("Error")
                    }
                });
            });
        })
    </script>
{% endblock %}
