{% extends 'base.html' %}

{% block content %}

    <form name="form" action="{% url 'search_by_case' %}" method="get">
      {% if caseNum %}
        <input type="number" name="caseNum" value="{{ caseNum }}">
      {% else %}
        <input type="number" name="caseNum">
      {% endif %}
      
        <input type="submit" value="Search">
    </form>

    {% for case in case_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Case Number</th>
          <th scope="col">Person Name</th>
          <th scope="col">ID Number</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Date of Onset</th>
          <th scope="col">Date Case Confirmed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ case.id }}</th>
          <td>{{ case.case_number }}</td>
          <td>{{ case.person_name }}</td>
          <td>{{ case.id_number }}</td>
          <td>{{ case.birth }}</td>
          <td>{{ case.onset_date }}</td>
          <td>{{ case.confirm_date }}</td>
        </tr>
      </tbody>
    </table>

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Click For more
      </a>
    </p>
    <div class="collapse" id='collapseExample'>
      <div class="card card-body">
        <h3>Attended Events</h3> <br>
        {% for attended_event in case.events.all %}
          
        <li>Venue Name: <a href="{% url 'search_by_date' %}?startDate={{ attended_event.date }}&endDate={{ attended_event.date }}" >{{ attended_event.venue_name }}</a></li>
        <li>Venue Location: {{ attended_event.venue_location }}</li>
        <li>Date: {{ attended_event.date }}</li>
        <li>Description: {{ attended_event.description }}</li>
        <br>
        {% empty %}
          No Event Attended
        {% endfor %}
      </div>
    </div>

    <!-- <button type="button" class="btn btn-primary" id={{case.id}}>Add Event</button> -->
    <p>
      <a class="btn btn-primary" href="{% url 'add-addentance' "event" case.pk %}">Add Event</a>
    </p>
    
    <!-- <script>
      var btn = document.getElementsByClassName('btn btn-primary')
      btn.id = case.id
      btn.href = "addAttendance/" + "event" + case.case_number
    </script> -->
    {% endfor %} 

    {% if not case_list %}
    <div>There is no case found!</div>
    {% endif %}
  {% endblock %}
